<div class="row">
  <div class="col-md-3">
    <ul>
      <li><p><%= link_to 'New Employee', new_developer_path , class: 'a'%></p></li>
      <li><p><%= link_to 'New project', new_project_path, class: 'a' %></p></li>
      <li><p><%= link_to 'Get Pojects', projects_path , class: 'a' %></p></li>
      <li><p><%= link_to 'Get All_Developer', developers_path , class: 'a' %></p></li>
    </ul>
  </div>

