<div class="master">
  <p>
    <strong>Employee Name:</strong>
    <%= @developer.employee_name %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= @developer.age %>
  </p>
  <p>
    <strong>Email:</strong>
    <%= @developer.email %>
  </p>
  <p>
    <strong>Role:</strong>
    <%= @developer.role %>
  </p>
</div>